In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

import warnings
warnings.filterwarnings(action='ignore')

In [6]:
df = pd.read_csv('clean_data.csv',  index_col = 0)
df.head()

,size,price,date,product,release_date,color,release_price
0,235,250000,738044,(GS) Nike Dunk Low Championship Grey,738035,WOLFGREY/DARKOBSIDIAN-TOTALORANGE,100800
1,235,250000,738045,(GS) Nike Dunk Low Championship Grey,738035,WOLFGREY/DARKOBSIDIAN-TOTALORANGE,100800
2,240,280000,738051,(GS) Nike Dunk Low Championship Grey,738035,WOLFGREY/DARKOBSIDIAN-TOTALORANGE,100800
3,235,260000,738052,(GS) Nike Dunk Low Championship Grey,738035,WOLFGREY/DARKOBSIDIAN-TOTALORANGE,100800
4,240,240000,738052,(GS) Nike Dunk Low Championship Grey,738035,WOLFGREY/DARKOBSIDIAN-TOTALORANGE,100800

In [11]:
set(df['release_price'])

{'100800',
 '101000',
 '106800',
 '106900',
 '109000',
 '112700',
 '115000',
 '116300',
 '118600',
 118600,
 '118800',
 119000,
 '119000',
 124900,
 129000,
 '129000',
 '130500',
 '130700',
 '136600',
 139000,
 '142400',
 '142600',
 '143300',
 '147400',
 '148500',
 149000,
 '159300',
 '160200',
 160900,
 '160900',
 '178000',
 '178300',
 '179000',
 '186300',
 '21-07-22',
 '213600',
 '213900',
 219000,
 '219000',
 '227200',
 '227600',
 '241900',
 '242300',
 '59300',
 '59400',
 '69000',
 '71200',
 '72400',
 '74000',
 '77200',
 79000,
 '79000',
 85000,
 '85800',
 '89100',
 '94900',
 '99000',
 99000}