In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

import warnings
warnings.filterwarnings(action='ignore')

In [2]:
df = pd.read_csv('clean_data.csv',  index_col = 0)
df.head()

,size,price,date,product,release_date,color,release_price
0,235,250000,738044,(GS) Nike Dunk Low Championship Grey,738035,WOLFGREY/DARKOBSIDIAN-TOTALORANGE,100800
1,235,250000,738045,(GS) Nike Dunk Low Championship Grey,738035,WOLFGREY/DARKOBSIDIAN-TOTALORANGE,100800
2,240,280000,738051,(GS) Nike Dunk Low Championship Grey,738035,WOLFGREY/DARKOBSIDIAN-TOTALORANGE,100800
3,235,260000,738052,(GS) Nike Dunk Low Championship Grey,738035,WOLFGREY/DARKOBSIDIAN-TOTALORANGE,100800
4,240,240000,738052,(GS) Nike Dunk Low Championship Grey,738035,WOLFGREY/DARKOBSIDIAN-TOTALORANGE,100800

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 145554 entries, 0 to 1482
Data columns (total 7 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   size           145554 non-null  object
 1   price          145554 non-null  object
 2   date           145554 non-null  int64
 3   product        145554 non-null  object
 4   release_date   145554 non-null  int64
 5   color          145554 non-null  object
 6   release_price  145554 non-null  object
dtypes: int64(2), object(5)
memory usage: 8.9+ MB

In [5]:
df.isnull().any()

size             False
price            False
date             False
product          False
release_date     False
color            False
release_price    False
dtype: bool

In [ ]:
# 남성 , 여성(GS) , 아동(PS, TD) 구분

In [10]:
df_men = df[(~df['product'].str.contains('GS')) & (~df['product'].str.contains('PS')) & (~df['product'].str.contains('TD'))]

In [11]:
df_men

,size,price,date,product,release_date,color,release_price
297,21-07-22,21-07-22,738357,21-07-22,737993,21-07-22,21-07-22
298,21-07-22,21-07-22,738357,21-07-22,737993,21-07-22,21-07-22
299,21-07-22,21-07-22,738357,21-07-22,737993,21-07-22,21-07-22
300,21-07-22,21-07-22,738357,21-07-22,737993,21-07-22,21-07-22
301,21-07-22,21-07-22,738357,21-07-22,737993,21-07-22,21-07-22
...,...,...,...,...,...,...,...
1477,265,365000,737702,Nike SB Dunk Low Wheat,736475,DUNE/TWIG-WHEAT-GUMMEDIUMBROWN,118600
1478,290,280000,737776,Nike SB Dunk Low Wheat,736475,DUNE/TWIG-WHEAT-GUMMEDIUMBROWN,118600
1479,270,356000,737790,Nike SB Dunk Low Wheat,736475,DUNE/TWIG-WHEAT-GUMMEDIUMBROWN,118600
1480,260,299000,737813,Nike SB Dunk Low Wheat,736475,DUNE/TWIG-WHEAT-GUMMEDIUMBROWN,118600
1481,265,369000,737813,Nike SB Dunk Low Wheat,736475,DUNE/TWIG-WHEAT-GUMMEDIUMBROWN,118600