# 라이브러리 설치

In [14]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

import warnings
warnings.filterwarnings(action='ignore')

# 데이터 
## 데이터 병합
### list208 + list312

In [7]:
df = pd.read_csv('./list_208_Data.csv', index_col = 0)
df.head()

,Unnamed: 0.1,size,price,date,product,release_date,color,release_price
0,0,230(4Y),"210,000원",21/06/09,(GS) Nike Dunk Low Light Bone Tropical Twist,21/06/11,LIGHTBONE/TROPICALTWIST-BLACK-WHITE,"$70(약83,000원)"
1,1,230(4Y),"230,000원",21/06/10,(GS) Nike Dunk Low Light Bone Tropical Twist,21/06/11,LIGHTBONE/TROPICALTWIST-BLACK-WHITE,"$70(약83,000원)"
2,2,240(6Y·W),"249,000원",21/06/15,(GS) Nike Dunk Low Light Bone Tropical Twist,21/06/11,LIGHTBONE/TROPICALTWIST-BLACK-WHITE,"$70(약83,000원)"
3,3,245(6.5Y),"259,000원",21/06/19,(GS) Nike Dunk Low Light Bone Tropical Twist,21/06/11,LIGHTBONE/TROPICALTWIST-BLACK-WHITE,"$70(약83,000원)"
4,4,235(4.5Y),"259,000원",21/06/20,(GS) Nike Dunk Low Light Bone Tropical Twist,21/06/11,LIGHTBONE/TROPICALTWIST-BLACK-WHITE,"$70(약83,000원)"

In [ ]:
df.drop('Unnamed: 0.1',axis = 1 , inplace = True)

In [11]:
df1 = df
df1

,size,price,date,product,release_date,color,release_price
0,230(4Y),"210,000원",21/06/09,(GS) Nike Dunk Low Light Bone Tropical Twist,21/06/11,LIGHTBONE/TROPICALTWIST-BLACK-WHITE,"$70(약83,000원)"
1,230(4Y),"230,000원",21/06/10,(GS) Nike Dunk Low Light Bone Tropical Twist,21/06/11,LIGHTBONE/TROPICALTWIST-BLACK-WHITE,"$70(약83,000원)"
2,240(6Y·W),"249,000원",21/06/15,(GS) Nike Dunk Low Light Bone Tropical Twist,21/06/11,LIGHTBONE/TROPICALTWIST-BLACK-WHITE,"$70(약83,000원)"
3,245(6.5Y),"259,000원",21/06/19,(GS) Nike Dunk Low Light Bone Tropical Twist,21/06/11,LIGHTBONE/TROPICALTWIST-BLACK-WHITE,"$70(약83,000원)"
4,235(4.5Y),"259,000원",21/06/20,(GS) Nike Dunk Low Light Bone Tropical Twist,21/06/11,LIGHTBONE/TROPICALTWIST-BLACK-WHITE,"$70(약83,000원)"
...,...,...,...,...,...,...,...
28173,260,"300,000원",21/08/29,Nike x Verdy SB Dunk Low Pro Wasted Youth (Spe...,21/04/06,BLACK/UNIVERSITYRED-WHITE-BLACK,-
28174,270,"317,000원",21/10/07,Nike x Verdy SB Dunk Low Pro Wasted Youth (Spe...,21/04/06,BLACK/UNIVERSITYRED-WHITE-BLACK,-
28175,270,"291,000원",21/10/25,Nike x Verdy SB Dunk Low Pro Wasted Youth (Spe...,21/04/06,BLACK/UNIVERSITYRED-WHITE-BLACK,-
28176,280,"450,000원",21/10/30,Nike x Verdy SB Dunk Low Pro Wasted Youth (Spe...,21/04/06,BLACK/UNIVERSITYRED-WHITE-BLACK,-
28177,260,"300,000원",21/11/07,Nike x Verdy SB Dunk Low Pro Wasted Youth (Spe...,21/04/06,BLACK/UNIVERSITYRED-WHITE-BLACK,-

In [13]:
df2 = pd.read_csv('./list_312_Data.csv', index_col = 0)
df2

,size,price,date,product,release_date,color,release_price
0,260,"246,000원",21/04/03,(W) Nike Dunk Low Green Strike,21/03/15,MULTI-COLOR/MULTI-COLOR,"$100(약118,600원)"
1,245,"259,000원",21/05/01,(W) Nike Dunk Low Green Strike,21/03/15,MULTI-COLOR/MULTI-COLOR,"$100(약118,600원)"
2,270,"176,000원",21/05/06,(W) Nike Dunk Low Green Strike,21/03/15,MULTI-COLOR/MULTI-COLOR,"$100(약118,600원)"
3,230,"276,000원",21/06/21,(W) Nike Dunk Low Green Strike,21/03/15,MULTI-COLOR/MULTI-COLOR,"$100(약118,600원)"
4,260,"217,000원",21/06/27,(W) Nike Dunk Low Green Strike,21/03/15,MULTI-COLOR/MULTI-COLOR,"$100(약118,600원)"
...,...,...,...,...,...,...,...
1478,290,"280,000원",20/12/17,Nike SB Dunk Low Wheat,17/05/26,DUNE/TWIG-WHEAT-GUMMEDIUMBROWN,"$100(약118,600원)"
1479,270,"356,000원",20/12/31,Nike SB Dunk Low Wheat,17/05/26,DUNE/TWIG-WHEAT-GUMMEDIUMBROWN,"$100(약118,600원)"
1480,260,"299,000원",21/01/23,Nike SB Dunk Low Wheat,17/05/26,DUNE/TWIG-WHEAT-GUMMEDIUMBROWN,"$100(약118,600원)"
1481,265,"369,000원",21/01/23,Nike SB Dunk Low Wheat,17/05/26,DUNE/TWIG-WHEAT-GUMMEDIUMBROWN,"$100(약118,600원)"
1482,240(6Y·W),"599,000원",21/11/08,(GS) Nike Dunk Low Ueno Panda,15/03/26,WHITE/BLACK,"$100(약118,600원)"

In [15]:
df_fix = pd.concat([df1, df2])
df_fix

,size,price,date,product,release_date,color,release_price
0,230(4Y),"210,000원",21/06/09,(GS) Nike Dunk Low Light Bone Tropical Twist,21/06/11,LIGHTBONE/TROPICALTWIST-BLACK-WHITE,"$70(약83,000원)"
1,230(4Y),"230,000원",21/06/10,(GS) Nike Dunk Low Light Bone Tropical Twist,21/06/11,LIGHTBONE/TROPICALTWIST-BLACK-WHITE,"$70(약83,000원)"
2,240(6Y·W),"249,000원",21/06/15,(GS) Nike Dunk Low Light Bone Tropical Twist,21/06/11,LIGHTBONE/TROPICALTWIST-BLACK-WHITE,"$70(약83,000원)"
3,245(6.5Y),"259,000원",21/06/19,(GS) Nike Dunk Low Light Bone Tropical Twist,21/06/11,LIGHTBONE/TROPICALTWIST-BLACK-WHITE,"$70(약83,000원)"
4,235(4.5Y),"259,000원",21/06/20,(GS) Nike Dunk Low Light Bone Tropical Twist,21/06/11,LIGHTBONE/TROPICALTWIST-BLACK-WHITE,"$70(약83,000원)"
...,...,...,...,...,...,...,...
1478,290,"280,000원",20/12/17,Nike SB Dunk Low Wheat,17/05/26,DUNE/TWIG-WHEAT-GUMMEDIUMBROWN,"$100(약118,600원)"
1479,270,"356,000원",20/12/31,Nike SB Dunk Low Wheat,17/05/26,DUNE/TWIG-WHEAT-GUMMEDIUMBROWN,"$100(약118,600원)"
1480,260,"299,000원",21/01/23,Nike SB Dunk Low Wheat,17/05/26,DUNE/TWIG-WHEAT-GUMMEDIUMBROWN,"$100(약118,600원)"
1481,265,"369,000원",21/01/23,Nike SB Dunk Low Wheat,17/05/26,DUNE/TWIG-WHEAT-GUMMEDIUMBROWN,"$100(약118,600원)"
1482,240(6Y·W),"599,000원",21/11/08,(GS) Nike Dunk Low Ueno Panda,15/03/26,WHITE/BLACK,"$100(약118,600원)"

## 데이터 전처리

In [16]:
# size 컬럼에서 사이즈만 추출  

def size (x) :
    return str(x)[:3]

df_fix['size'] = df_fix["size"].apply(size)
df_fix

,size,price,date,product,release_date,color,release_price
0,230,"210,000원",21/06/09,(GS) Nike Dunk Low Light Bone Tropical Twist,21/06/11,LIGHTBONE/TROPICALTWIST-BLACK-WHITE,"$70(약83,000원)"
1,230,"230,000원",21/06/10,(GS) Nike Dunk Low Light Bone Tropical Twist,21/06/11,LIGHTBONE/TROPICALTWIST-BLACK-WHITE,"$70(약83,000원)"
2,240,"249,000원",21/06/15,(GS) Nike Dunk Low Light Bone Tropical Twist,21/06/11,LIGHTBONE/TROPICALTWIST-BLACK-WHITE,"$70(약83,000원)"
3,245,"259,000원",21/06/19,(GS) Nike Dunk Low Light Bone Tropical Twist,21/06/11,LIGHTBONE/TROPICALTWIST-BLACK-WHITE,"$70(약83,000원)"
4,235,"259,000원",21/06/20,(GS) Nike Dunk Low Light Bone Tropical Twist,21/06/11,LIGHTBONE/TROPICALTWIST-BLACK-WHITE,"$70(약83,000원)"
...,...,...,...,...,...,...,...
1478,290,"280,000원",20/12/17,Nike SB Dunk Low Wheat,17/05/26,DUNE/TWIG-WHEAT-GUMMEDIUMBROWN,"$100(약118,600원)"
1479,270,"356,000원",20/12/31,Nike SB Dunk Low Wheat,17/05/26,DUNE/TWIG-WHEAT-GUMMEDIUMBROWN,"$100(약118,600원)"
1480,260,"299,000원",21/01/23,Nike SB Dunk Low Wheat,17/05/26,DUNE/TWIG-WHEAT-GUMMEDIUMBROWN,"$100(약118,600원)"
1481,265,"369,000원",21/01/23,Nike SB Dunk Low Wheat,17/05/26,DUNE/TWIG-WHEAT-GUMMEDIUMBROWN,"$100(약118,600원)"
1482,240,"599,000원",21/11/08,(GS) Nike Dunk Low Ueno Panda,15/03/26,WHITE/BLACK,"$100(약118,600원)"

In [18]:
# price 컬럼  " , " 과 " 원 " 제거 

import re

def extract_num (num_str) :
    if type(num_str) == str :
        num_str = re.sub('[^0-9]','',num_str)
    return num_str

df_fix['price'] = df_fix['price'].apply(extract_num)
df_fix

,size,price,date,product,release_date,color,release_price
0,230,210000,21/06/09,(GS) Nike Dunk Low Light Bone Tropical Twist,21/06/11,LIGHTBONE/TROPICALTWIST-BLACK-WHITE,"$70(약83,000원)"
1,230,230000,21/06/10,(GS) Nike Dunk Low Light Bone Tropical Twist,21/06/11,LIGHTBONE/TROPICALTWIST-BLACK-WHITE,"$70(약83,000원)"
2,240,249000,21/06/15,(GS) Nike Dunk Low Light Bone Tropical Twist,21/06/11,LIGHTBONE/TROPICALTWIST-BLACK-WHITE,"$70(약83,000원)"
3,245,259000,21/06/19,(GS) Nike Dunk Low Light Bone Tropical Twist,21/06/11,LIGHTBONE/TROPICALTWIST-BLACK-WHITE,"$70(약83,000원)"
4,235,259000,21/06/20,(GS) Nike Dunk Low Light Bone Tropical Twist,21/06/11,LIGHTBONE/TROPICALTWIST-BLACK-WHITE,"$70(약83,000원)"
...,...,...,...,...,...,...,...
1478,290,280000,20/12/17,Nike SB Dunk Low Wheat,17/05/26,DUNE/TWIG-WHEAT-GUMMEDIUMBROWN,"$100(약118,600원)"
1479,270,356000,20/12/31,Nike SB Dunk Low Wheat,17/05/26,DUNE/TWIG-WHEAT-GUMMEDIUMBROWN,"$100(약118,600원)"
1480,260,299000,21/01/23,Nike SB Dunk Low Wheat,17/05/26,DUNE/TWIG-WHEAT-GUMMEDIUMBROWN,"$100(약118,600원)"
1481,265,369000,21/01/23,Nike SB Dunk Low Wheat,17/05/26,DUNE/TWIG-WHEAT-GUMMEDIUMBROWN,"$100(약118,600원)"
1482,240,599000,21/11/08,(GS) Nike Dunk Low Ueno Panda,15/03/26,WHITE/BLACK,"$100(약118,600원)"

In [21]:
# date , release_date 컬럼 변경 
df_fix['date'] = df_fix["date"].str.replace('/','-')
df_fix['date'] = '20' + df_fix['date']
df_fix['release_date'] = df_fix['release_date'].str.replace('/','-')
df_fix['release_date'] = '20' + df_fix['release_date']

In [22]:
df_fix

,size,price,date,product,release_date,color,release_price
0,230,210000,2021-06-09,(GS) Nike Dunk Low Light Bone Tropical Twist,2021-06-11,LIGHTBONE/TROPICALTWIST-BLACK-WHITE,"$70(약83,000원)"
1,230,230000,2021-06-10,(GS) Nike Dunk Low Light Bone Tropical Twist,2021-06-11,LIGHTBONE/TROPICALTWIST-BLACK-WHITE,"$70(약83,000원)"
2,240,249000,2021-06-15,(GS) Nike Dunk Low Light Bone Tropical Twist,2021-06-11,LIGHTBONE/TROPICALTWIST-BLACK-WHITE,"$70(약83,000원)"
3,245,259000,2021-06-19,(GS) Nike Dunk Low Light Bone Tropical Twist,2021-06-11,LIGHTBONE/TROPICALTWIST-BLACK-WHITE,"$70(약83,000원)"
4,235,259000,2021-06-20,(GS) Nike Dunk Low Light Bone Tropical Twist,2021-06-11,LIGHTBONE/TROPICALTWIST-BLACK-WHITE,"$70(약83,000원)"
...,...,...,...,...,...,...,...
1478,290,280000,2020-12-17,Nike SB Dunk Low Wheat,2017-05-26,DUNE/TWIG-WHEAT-GUMMEDIUMBROWN,"$100(약118,600원)"
1479,270,356000,2020-12-31,Nike SB Dunk Low Wheat,2017-05-26,DUNE/TWIG-WHEAT-GUMMEDIUMBROWN,"$100(약118,600원)"
1480,260,299000,2021-01-23,Nike SB Dunk Low Wheat,2017-05-26,DUNE/TWIG-WHEAT-GUMMEDIUMBROWN,"$100(약118,600원)"
1481,265,369000,2021-01-23,Nike SB Dunk Low Wheat,2017-05-26,DUNE/TWIG-WHEAT-GUMMEDIUMBROWN,"$100(약118,600원)"
1482,240,599000,2021-11-08,(GS) Nike Dunk Low Ueno Panda,2015-03-26,WHITE/BLACK,"$100(약118,600원)"

In [24]:
df_fix.to_csv('./data_1.csv')

## products 데이터 병합

In [26]:
dt = df_fix
meta = pd.read_csv('./products.csv', index_col=0)

In [27]:
meta

,product,number,transactions,wish,review
0,Nike Dunk Low Retro Black,28029,8.9만,5.1만,"7,680"
1,(W) Nike Dunk Low Black,28030,4.5만,3.7만,"2,882"
2,(W) Nike Dunk Low Light Bone,41637,"9,898",2.1만,306
3,Nike Dunk Low Retro Grey Fog,41193,"3,239",1.5만,77
4,(W) Nike Dunk Low Essential Black Paisley,43374,62,955,9
...,...,...,...,...,...
355,Nike Dunk Low Retro Court Purple,36741,NaN,202,0
356,Nike Dunk Low Retro LPL,30595,NaN,29,0
357,Nike Dunk Low Retro PRM Vast Grey,25157,NaN,168,0
358,Nike x Off-White Dunk Low The 50 - Lot 44,47887,1,41,0
359,Nike x Off-White Dunk Low The 50 - Lot 42,47059,NaN,20,2

In [28]:
dt

,size,price,date,product,release_date,color,release_price
0,230,210000,2021-06-09,(GS) Nike Dunk Low Light Bone Tropical Twist,2021-06-11,LIGHTBONE/TROPICALTWIST-BLACK-WHITE,"$70(약83,000원)"
1,230,230000,2021-06-10,(GS) Nike Dunk Low Light Bone Tropical Twist,2021-06-11,LIGHTBONE/TROPICALTWIST-BLACK-WHITE,"$70(약83,000원)"
2,240,249000,2021-06-15,(GS) Nike Dunk Low Light Bone Tropical Twist,2021-06-11,LIGHTBONE/TROPICALTWIST-BLACK-WHITE,"$70(약83,000원)"
3,245,259000,2021-06-19,(GS) Nike Dunk Low Light Bone Tropical Twist,2021-06-11,LIGHTBONE/TROPICALTWIST-BLACK-WHITE,"$70(약83,000원)"
4,235,259000,2021-06-20,(GS) Nike Dunk Low Light Bone Tropical Twist,2021-06-11,LIGHTBONE/TROPICALTWIST-BLACK-WHITE,"$70(약83,000원)"
...,...,...,...,...,...,...,...
1478,290,280000,2020-12-17,Nike SB Dunk Low Wheat,2017-05-26,DUNE/TWIG-WHEAT-GUMMEDIUMBROWN,"$100(약118,600원)"
1479,270,356000,2020-12-31,Nike SB Dunk Low Wheat,2017-05-26,DUNE/TWIG-WHEAT-GUMMEDIUMBROWN,"$100(약118,600원)"
1480,260,299000,2021-01-23,Nike SB Dunk Low Wheat,2017-05-26,DUNE/TWIG-WHEAT-GUMMEDIUMBROWN,"$100(약118,600원)"
1481,265,369000,2021-01-23,Nike SB Dunk Low Wheat,2017-05-26,DUNE/TWIG-WHEAT-GUMMEDIUMBROWN,"$100(약118,600원)"
1482,240,599000,2021-11-08,(GS) Nike Dunk Low Ueno Panda,2015-03-26,WHITE/BLACK,"$100(약118,600원)"

In [30]:
joindt = pd.merge(dt, meta, left_on='product', right_on='product', how='left')
joindt

,size,price,date,product,release_date,color,release_price,number,transactions,wish,review
0,230,210000,2021-06-09,(GS) Nike Dunk Low Light Bone Tropical Twist,2021-06-11,LIGHTBONE/TROPICALTWIST-BLACK-WHITE,"$70(약83,000원)",36866,92,763,7
1,230,230000,2021-06-10,(GS) Nike Dunk Low Light Bone Tropical Twist,2021-06-11,LIGHTBONE/TROPICALTWIST-BLACK-WHITE,"$70(약83,000원)",36866,92,763,7
2,240,249000,2021-06-15,(GS) Nike Dunk Low Light Bone Tropical Twist,2021-06-11,LIGHTBONE/TROPICALTWIST-BLACK-WHITE,"$70(약83,000원)",36866,92,763,7
3,245,259000,2021-06-19,(GS) Nike Dunk Low Light Bone Tropical Twist,2021-06-11,LIGHTBONE/TROPICALTWIST-BLACK-WHITE,"$70(약83,000원)",36866,92,763,7
4,235,259000,2021-06-20,(GS) Nike Dunk Low Light Bone Tropical Twist,2021-06-11,LIGHTBONE/TROPICALTWIST-BLACK-WHITE,"$70(약83,000원)",36866,92,763,7
...,...,...,...,...,...,...,...,...,...,...,...
29656,290,280000,2020-12-17,Nike SB Dunk Low Wheat,2017-05-26,DUNE/TWIG-WHEAT-GUMMEDIUMBROWN,"$100(약118,600원)",10652,7,122,5
29657,270,356000,2020-12-31,Nike SB Dunk Low Wheat,2017-05-26,DUNE/TWIG-WHEAT-GUMMEDIUMBROWN,"$100(약118,600원)",10652,7,122,5
29658,260,299000,2021-01-23,Nike SB Dunk Low Wheat,2017-05-26,DUNE/TWIG-WHEAT-GUMMEDIUMBROWN,"$100(약118,600원)",10652,7,122,5
29659,265,369000,2021-01-23,Nike SB Dunk Low Wheat,2017-05-26,DUNE/TWIG-WHEAT-GUMMEDIUMBROWN,"$100(약118,600원)",10652,7,122,5
29660,240,599000,2021-11-08,(GS) Nike Dunk Low Ueno Panda,2015-03-26,WHITE/BLACK,"$100(약118,600원)",24252,1,45,0

In [34]:
joindt.to_csv('./data_1.csv')

### 데이터타입 변환

In [25]:
dt = df_fix
dt.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 29661 entries, 0 to 1482
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   size           29661 non-null  object
 1   price          29661 non-null  object
 2   date           29661 non-null  object
 3   product        29661 non-null  object
 4   release_date   29661 non-null  object
 5   color          29661 non-null  object
 6   release_price  29661 non-null  object
dtypes: object(7)
memory usage: 1.8+ MB